/* main.css

html,
body {
  background-color: lightblue;
} */
@font-face {
  font-family: "Literata";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Literata/static/Literata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Literata";
  font-style: bold;
  font-weight: 400;
  src: url("../fonts/Literata/static/Literata-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Literata";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Literata/static/Literata-Italic.ttf") format("truetype");
} 

:root {
  --main-color: blue;
}

/* Responsive Design */
/* @media (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 30px;
  }
} */

/****** header ******/
header {
  background-image: url("../images/bg_homepage.jpg");
  background-color: #fcfcdc;
  text-align: center;
  padding: 20px 0;
  font-family: "Literata", serif;
  color: white;
}

.intro_page {
  text-align: center;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 10px 0;
}

.main-nav a{
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.main-nav a:hover {
  background-color: #555;
}

/* .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350ox, 1fr));
  grid-gap: 10px;
}

#intro_li ul{
  background-color: white;
  border: 8px double black;
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  width: 200px;
}

#intro_li li {
  margin: 5px;
}


/* .sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
} */


/*
a:link { color: #3366BB; }
a:visited { color: #663366 }
a:visited:hover { color: #0b0080; }
a:hover { color: gray; }
a:active { background-color: yellow; border: 4px solid red;} */

#project1 {
  color: red;
}

#project1_fig2:hover {
  transform: scale(0.7);
}

/* CSS Transitions */
button {
  background-color: green;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: green;
}

/* CSS Transforms */
img:hover {
  transform: scale(1.5);
}

/* CSS Animations */
@keyframes moveRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100px); }
}

#interests_badmintain {
  position: relative;
  animation: moveRight 2s linear infinite;
}

#Education_Background {
  background-color: rgb(0, 255, 0);
  background-color: color(display-p3 0 1 0);
}

#Self-Introduction {
  background-color: #7f007f;
  background-color: color-mix(in srgb, red 50%, blue 50%);
}


/* New Selectors */
li:has(> .a) {
  background-color: yellow;
}

.photo {
  width: 50%;
  height: auto;
}

/* bio */
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.section p {
  margin: 0;
}







/****** footer ******/
footer {
  font-size: small;
  text-align: center;
  color: var(--main-color, balck);
} 

